
<% if @lists.blank? %>

  <div class="expandable">
    <div class="cards-container">
      <div align="center" style="padding: 20px, margin: 20px">
        <h3 style="color: indigo">It looks like you don't have any lists, would you like to start one now?</h3>
        <h3 class="hollow button">
          <%= link_to 'New List', new_user_list_path(current_user) %>
        </h3>
      </div>
    </div>
  </div>

<% else %>
  <div class="expandable">
    <div class="cards-container">
      <div class="table-cards">
        <% @lists.each do |list| %>
          <div class="table-card">
          <h3><%= link_to list.name, list_path(list) %>
            <%= link_to "✎", edit_user_list_path(current_user, list) %>
          </h3>
            <% list.congressmembers.each do |c| %>
              <ul>
                <% c.full_name += ", " + c.party + "-" + c.state  %>
                <li style="list-style: none">
                  <%= link_to name, congressmember_path(c) %>
                  <%= link_to '☒', list_congresslist_path(list, c), method: :delete %>
                </li>
              </ul>
            <% end %>
            <div align="center" style="padding: 0">
              <h3 class="hollow button"><%= link_to 'Add Congressmembers', list_path(list) %></h3>
            </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
