<div class="expandable">
  <div class="cards-container">
    <div class="table-card">
        <h3 style="color: indigo"><%= @list.name %></h3>
          <% if @congressmembers.present? %>
            <div class="secondary callout">
              <br>
              <% @congressmembers.each do |c| %>
              <ul>
                <% if c.middle_name.present? %>
                  <% name = c.first_name + " " + c.middle_name + " " + c.last_name %>
                <% else %>
                  <% name = c.first_name + " " + c.last_name %>
                <% end %>
                <% name += ", " + c.party + "-" + c.state  %>
                <li style="list-style: none"><%= link_to name, congressmember_path(c)%>
                  <%= link_to '☒', list_congresslist_path(@list, c), method: :delete %>
                </li>
              </ul>
              <% end %>
          <% end %>
          <br>
          <div align="center" style="padding: 0">
            <h3 class="hollow button">
              <%= link_to 'Add to List', new_list_congresslist_path(@list) %>
            </h3>
            <h3 class="hollow button">
              <%= link_to 'Delete List', user_list_path(@list), method: :delete %>
            </h3>
          </div>
      </div>
    </div>
  </div>
</div>
