<div id="app"></div>

<div class="expandable">
  <div class="cards-container">
    <div class="table-cards">
      <% @congressmembers.each do |congressmember| %>
        <div class="table-card">
          <% if congressmember.photo.blank? %>
            <img src="http://www.debsnelsonphotography.com/wp-content/uploads/galleries/post-941/full/US%20Capitol%20Dome%20Washington%20DC%20Blue%20moment%20Predawn%20Night%20Low%20light%20photography.jpg">
          <% else %>
            <img src="<%= congressmember.photo %>">
          <% end %>
            <h3>
              <% name = congressmember.first_name + " " + congressmember.last_name %>
              <%= link_to name, congressmember_path(congressmember) %>
            </h3>
            <h5><%= congressmember.state %>, <%= congressmember.party %></h5>
            <p><strong><%= congressmember.chamber.upcase %></strong></p>
        </div>
      <% end %>
    </div>
  </div>
</div>
