<div class="expandable">
  <div class="cards-container">
    <div class="table-cards">
      <% @congressmembers.each do |congressmember| %>
        <div class="table-card">
          <% if congressmember.photo.blank? %>
            <img src='https://rothfus.house.gov/sites/rothfus.house.gov/files/wysiwyg_uploaded/services.jpg'>
          <% else %>
            <img src="<%= congressmember.photo %>">
          <% end %>
            <div class="content">
              <h3>
                <% name = congressmember.first_name + " " + congressmember.last_name %>
                <%= link_to name, congressmember_path(congressmember) %>
              </h3>
              <%= congressmember.state %>, <%= congressmember.party %>
            </div>
          <div><%= congressmember.chamber.upcase %></div>
        </div>
      <% end %>
    </div>
  </div>
</div>
