<div class="cards-container">
  <div class="table-card">
      <br>
      <h5>Up for r&euml;lection in <%= @congressmember.next_election %></h5>

      <% if @congressmember.middle_name.present? %>
        <% name = @congressmember.first_name + " " + @congressmember.middle_name + " " + @congressmember.last_name %>
      <% else %>
        <% name = @congressmember.first_name + " " + @congressmember.last_name %>
      <% end %>

      <% if @congressmember.chamber == "House" %>
        <% chamber = "HOUSE OF REPRESENTATIVES" %>
      <% else %>
        <% chamber = @congressmember.chamber.upcase %>
      <% end %>

    <div class="secondary callout">
      <h1 style="color: indigo"><%= name %></h1>
      <h5><%= chamber %></h5>
      <h3><%= @congressmember.party %>, <%= @congressmember.state %></h3>
    </div>

      <h5>Leadership role(s): <%= @congressmember.leadership_role %></h5>
      <% if @congressmember.twitter_account.present? %>
        <h5>Twitter: <strong><a href="https://twitter.com/<%= @congressmember.twitter_account %>">@<%= @congressmember.twitter_account %></a></strong></h5>
      <% end %>
      <% if @congressmember.facebook_account.present? %>
        <h5>Facebook: <strong><a href="https://facebook.com/<%= @congressmember.facebook_account%>"><%= @congressmember.facebook_account %></a></strong></h5>
      <% end %>
        <h5>Phone number: <strong><a href="tel:<%= @congressmember.phone %>"><%= @congressmember.phone %></a><strong></h5>
      <% if @congressmember.email.present? %>
        <h5>Email: <strong><a href="mailto:<%= @congressmember.email %>"><%= @congressmember.email %></a></strong></h5>
      <% end %>

    <h5><strong><a href="<%= @congressmember.url %>">Website</a></strong></h5>

      <% if current_user %>
        <% if current_user.admin? %>
          <div align="center" style="padding: 0">
            <br>
            <h3 class="hollow button"><%= link_to 'Edit', edit_congressmember_path(@congressmember) %></h3>
            <h3 class=" hollow button"><%= link_to 'Delete', congressmember_path(@congressmember), method: :delete %></h3>
            <br>
          </div>
        <% end %>
      <% end %>
  </div>
</div>
