<div class="cards-container">
  <div class="table-card">
      <br>
      <h5>Up for r&euml;lection in <%= @congressmember.next_election %></h5>

      <% if @congressmember.middle_name.present? %>
        <% name = @congressmember.first_name + " " + @congressmember.middle_name + " " + @congressmember.last_name %>
      <% else %>
        <% name = @congressmember.first_name + " " + @congressmember.last_name %>
      <% end %>

      <% if @congressmember.chamber == "House" %>
        <% chamber = "HOUSE OF REPRESENTATIVES" %>
      <% else %>
        <% chamber = @congressmember.chamber.upcase %>
      <% end %>

    <div class="primary callout">
      <h1><%= name %></h1>
      <h5><%= chamber %></h5>
      <h3><strong><%= @congressmember.party %>, <%= @congressmember.state %></strong></h3>
    </div>

      <h5>Leadership role(s): <%= @congressmember.leadership_role %></h5>
      <% if @congressmember.twitter_account.present? %>
        <h5>Twitter: <a href="https://twitter.com/<%= @congressmember.twitter_account %>">@<%= @congressmember.twitter_account %></a></h5>
      <% end %>
      <% if @congressmember.facebook_account.present? %>
        <h5>Facebook: <a href="https://facebook.com/<%= @congressmember.facebook_account%>"><%= @congressmember.facebook_account %></a></h5>
      <% end %>
      <h5>Phone number: <a href="tel:<%= @congressmember.phone_number %>"><%= @congressmember.phone_number %></a></h5>
      <h5>Email: <a href="mailto:<%= @congressmember.email %>"><%= @congressmember.email %></a></h5>
      <h5><a href="https://<%= @congressmember.url %>">Website</a></h5>

  </div>
</div>
