<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Politicall" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="menu-text"><h1><strong><%=link_to "POLITICALL", root_path%></strong></h1></li>
          <% if user_signed_in? %>
            <li>
              <%= link_to "Your Account", edit_user_registration_path %>
                <ul class="menu">
                  <% if current_user.admin? %>
                    <li><%= link_to "Admin", admin_users_path %></li>
                  <% end %>
                  <li><%= link_to "Edit Account", edit_user_registration_path %></li>
                </ul>
              </li>
            <li>
              <a href="google.com">Your Lists</a>
              <ul class="menu">
                <li><a href="google.com">All Lists</a></li>
                <li><a href="google.com">New List</a></li>
              </ul>
            </li>
            <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "Sign In", new_user_session_path %></li>
            <li><%= link_to "Sign Up", new_user_registration_path %></li>
          <% end %>
        </ul>
      </div>
      <div class="top-bar-right">
      <ul class="menu">
        <br>
        <li><input type="search" placeholder="Search"></li>
        <li><button type="button" class="button">Search</button></li>
      </ul>
    </div>
  </div>
    <br>
    <div class="flash">
      <% if flash[:notice] %>
        <% if flash[:notice].is_a?(String) %>
          <%= flash[:notice] %>
        <% else %>
          <% flash[:notice].each do |key, value| %>
            <% if value.is_a?(Array) %>
              <% value.each do |error| %>
                <%= "#{key.capitalize} #{error}." %>
              <% end %>
            <% else %>
              <%= "#{key.capitalize} #{value}." %>
            <% end %>
            <br />
          <% end %>
        <% end %>
      <% end %>
    </div>

    <%= yield %>

  </body>
</html>
